.operation-entry-table-header-column-content {
  width: 100%;
  height: 2em;
}

.operation-entry-table-header-column-title {
  float: left;
  height: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.operation-entry-table-header-column-filler {
  float: right;
  margin-right: 1em;
}